body {
	height: 50%;
	margin: 0;
	text-align: right;
	width: 100%;
}
h1 {
	font-size: 32px;
	font-family: Palatino, 'Palatino Linotype', serif;
	color: rgb(0,0,0);
}
h2 {
	font-size: 56px;
}
.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url(https://www.google.com.ph/search?q=biohazard+logo&dcr=0&tbm=isch&source=iu&ictx=1&fir=pkaCHJCN5TBQ5M%253A%252CqkaT5bh1dHP0pM%252C_&usg=___9gVdsh1WnppGgX0BM8l5E6YG64%3D&sa=X&ved=0ahUKEwiB4Jb_sqfZAhWGFpQKHRiMAOYQ9QEIZTAO&safe=active&ssui=on#imgrc=9GsrsaH4pPTb1M:);
  background-size: cover;
  color: #ffffff;
}


p {

  font-size: 1rem;
  text-align: center;
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

